body {
  background-color: rgb(195, 228, 238);
  margin: 0px;
}
.backdrop {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgb(0, 0, 0, 0.5);
}
.toggle-button {
  width: 3rem;
  background: transparent;
  border: none;
  vertical-align: middle;
  padding-top: 0;
  padding-bottom: 0;
  cursor: pointer;
}
.toggle-button:focus {
  outline: none;
}

.toggle-button-bar {
  width: 100%;
  height: 0.2rem;
  background: black;
  display: block;
  margin: 0.6rem 0;
}

.main-header {
  width: 100%;
  color: white;
  background-color: rgb(22, 159, 238);
  border-color: azure;
  font-family: "Courier New", Courier, monospace;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}

.main-header > div:first-child {
  display: inline-block;
  font-weight: bold;
  font-size: 25px;
}

.main-nav {
  display: none;
}

.side-nav {
  position: fixed;
  width: 40%;
  height: 100%;
  background: rgba(255, 255, 255, 0.767);
  top: 0;
  left: 0;
  display: none;
  z-index: 230;
}
.side-nav-list {
  list-style: none;
  padding: 20px;
  text-align: center;
  margin: 10% auto;
}
.side-nav-list-items {
  font-size: 1.6rem;
  padding: 20px;
}
.side-nav-list a {
  text-decoration: none;
  color: #2f2c30;
}
.side-nav-list a:hover,
.side-nav-list a:active {
  color: #0e4623;
}

.main_section {
  background-image: url("image.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 400px;
  padding: 10px;
  position: relative;
  background-position: center;
}
.main_section p {
  color: white;
  font-size: 1.4rem;
  position: absolute;
  bottom: 2%;
  left: 2%;
}

.article_plans {
  border: 1.5px solid rgb(95, 93, 93);
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(50, 146, 235);
  color: azure;
  margin: 8px 0px;
  max-width: 420px;
  min-width: 200px;
  margin: 3px auto;
}

.article_plans > h3 {
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(240, 201, 201);
  color: black;
  padding: 10px;
  width: 70%;
  text-align: center;
  display: inline-block;
  box-shadow: 5px 5px #2f2c30;
}

#article_plan_recommended {
  background: rgb(18, 131, 236);
}
.plan_list {
  list-style: none;
  padding: 10px;
}
.section_plans {
  text-align: center;
}
.section_plans > div {
  color: rgba(14, 15, 15, 0.966);
  font-size: 25px;
  margin-top: 10px;
  padding: 10px;
}

.btn-buy {
  padding: 10px;
  border-radius: 10px;
  background-color: #2f2c30;
  border-color: rgb(13, 2, 24);
  border-style: solid;
  color: aliceblue;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
}
.btn-buy:hover {
  background-color: rgb(5, 8, 48);
}
.btn-buy:focus {
  outline: none;
}
.section-below {
  bottom: 0px;
  height: 100%;
  background-color: rgb(19, 19, 18);
  margin-top: 20px;
  padding-top: 10px;
  text-align: center;
}
.section-below > div {
  text-align: center;
  color: rgb(22, 184, 22);
  font-size: 22px;
  font-style: inherit;
}
.section-below-ul {
  list-style: none;
  text-align: center;
}
.section-below-ul-items {
  padding: 10px;
  color: yellow;
  font-size: 20px;
  text-align: center;
}

@media (min-width: 768px) {
  .main_section {
    height: 550px;
  }
  .main_section p {
    font-size: 2rem;
  }
  .article_plans {
    display: inline-block;
    width: 25%;
    vertical-align: middle;
    box-shadow: 4px 4px #2f2c30;
    margin: 10px;
    max-width: 235px;
  }
  .plan_list {
    list-style: none;
    padding: 10px;
  }
  .section-below-ul-items {
    display: inline-block;
    padding: 10px;
    color: yellow;
    font-size: 20px;
  }
  .toggle-button {
    display: none;
  }
  .main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 190px);
  }
  .nav-item {
    display: inline-block;
    font-size: 22px;
  }

  .nav-items {
    padding: 0px;
    margin: 0px;
    list-style: none;
  }
  .nav-items a {
    text-decoration: none;
    color: #f8f6f2;
    margin: 0px 10px;
  }

  .nav-item a:hover,
  .nav-item a:active {
    color: rgb(234, 236, 232);
    border-bottom: 1px solid #f2f3f1;
    font-weight: bold;
  }
}
